// Colors for scheme.
$primary: #214d72;
$second: #9775bd;
$seconddarker: #8552bf;
$seconddarkest: #20093a;
$headerheight: 30px;
$dark: #242c3d;

// All section colors.
$titleColor:        #c8509b;
$introductioncolor: #f2c649;
$paragraphColor:    #7070cc;
$conclusionColor:   #c21f1f;

// Face (landing) color.
$face: #1acebc;

$coolblue: #0099CC;
$coolred: #c73131;
$coolbluedarker: #003399;
$lightblue: #66CCFF;
$whiteblue: #c6ecff;

// More custom styles
$textcolor: #666;
$textcolor_onwhite: black;

// Login;Register scheme colors
$register: #2a988e;
$login: #4756a9;

$containerscolor: #242c3d;
